#app {
    font-family: "Open Sans" !important;
    font-weight: 800;
    font-size: 1em;
    margin: 2em;
    padding: .5em;
}

.btn-default {
    padding-left: 1em;
    background-color: #B388EB !important;
    padding-right: 1em;
    font-family: "Dosis";
    font-weight: 600;
    border: none;
}

label {
    color: white;
}

h1, h2, h3 {
    font-family: "Dosis";
    font-weight: 800;
    color: white;
    letter-spacing: 1px;
    font-size: 2em;
    padding-bottom: .5em;
}

.tab-content {
    padding: 0 1em 0 1em;
}

.images {
    padding: 1.5em 1em 1em 1em;
}

.img-responsive {
    margin: 1em;
    border-radius: 21px;
    border: 5px solid white;
}

.nav-tabs {
    border-bottom: 4px solid white;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: white;
    cursor: default;
    background-color: #B388EB;
    border: 4px solid white;
    border-bottom: none;
    margin-bottom: 1px;
}

.nav-tabs>li>a, .nav-tabs>li>a:focus, .nav-tabs>li>a:hover {
    border-top: 4px solid transparent;
}

.nav-tabs>li>a {
    border-radius: 28px 4px 0 0;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: white;
    color: #B388EB;
}

#app {
    background-color: #8093F1;
}

canvas {
    border: 10px solid #F7AEF8;
}

.img-responsive {
	overflow: none;
	padding: 0.75em;
	display: inline-block;
}

#test {
	width: 256px;
	height: 256px;
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#app {
	padding: 1em;
}

#plzw8 {
    background-color:#B388EB;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}

.kitties {
    cursor: pointer;
}

button {
    background-color: #72DDF7; /* Green */
    border: none;
    color: white !important;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px !important;
.start-button {
	background-color: #fff;
	font-weight: bold;
}
